---
import logo from '@/assets/logo.svg';
---

<header class="w-full pl-10 pr-10 pt-2 pb-2">
    <a class="flex gap-4 items-center" href="/">
        <img src={logo.src} width="80px" height="80px" alt="4xbet" />
        <p class="">Ставки</p>
    </a>
    <div></div>
</header>